:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    position: relative;
    width: 1920px;
    margin: 0 auto;
  }
  .landing-page {
    flex-shrink: 0;
    position: relative;
    width: 1920px;
    height: 3742px;
    background: #ffffff;
    overflow: hidden;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 1920px;
    margin: 0 0 0 0;
    padding: 16px 220px 16px 220px;
    z-index: 12;
  }
  .block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 739px;
    position: relative;
    width: 1473px;
    z-index: 13;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 191px;
    z-index: 14;
  }
  .logo-1 {
    flex-shrink: 0;
    position: relative;
    width: 121px;
    height: 40.5px;
    z-index: 15;
  }
  .logo-icon {
    position: absolute;
    width: 37px;
    height: 29px;
    top: 0;
    left: 0;
    z-index: 16;
    overflow: hidden;
  }
  .group {
    position: absolute;
    width: 100%;
    height: 100.01%;
    top: 0;
    left: 0;
    z-index: 17;
  }
  .group-2 {
    position: relative;
    width: 37px;
    height: 11.487px;
    margin: 0 0 0 0;
    z-index: 18;
  }
  .vector {
    position: absolute;
    width: 32.76%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/252b1268-0bcd-4d71-a7d3-a14e62553ae6.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 19;
  }
  .vector-3 {
    position: absolute;
    width: 32.74%;
    height: 99.87%;
    top: 0;
    left: 67.26%;
    background: url(../assets/images/2a2d87f9-4e5e-4f51-8940-f688891402d8.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 20;
  }
  .vector-4 {
    position: relative;
    width: 37px;
    height: 26.458px;
    margin: -8.942px 0 0 0;
    background: url(../assets/images/3be063ce-1a45-4106-b5dd-c069e3e686a1.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 21;
  }
  .pflow {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 34px;
    top: 6.5px;
    left: 47px;
    color: #3c3c40;
    font-family: Impact, var(--default-font-family);
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
  }
  .menu {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 538px;
    z-index: 23;
  }
  .nav-menu {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    width: 412px;
    z-index: 24;
  }
  .products {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 83px;
    z-index: 25; 
  }
  .resume-writing {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #3c3c40;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
    text-decoration: none;
  }
  .resume-writing:hover {
    color: blue;
  }
  .solutions {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 67px;
    z-index: 27;
  }
  .company-recommendation {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #3c3c40;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
  }
  .resources {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 67px;
    z-index: 29;
  }
  .company-search {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #3c3c40;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 30;
  }
  .pricing {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 63px;
    z-index: 31;
  }
  .community {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #3c3c40;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
  }
  .btn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    width: 126px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 33;
  }
  .btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 126px;
    height: 60px;
    padding: 16px 40px 16px 40px;
    background: #0554f2;
    z-index: 34;
    border-radius: 8px;
  }
  .login {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 35;
  }
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 1920px;
    margin: 0 0 0 0;
    padding: 140px 220px 140px 220px;
    background: #ffffff;
    z-index: 1;
  }
  .block-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 1480px;
    z-index: 2;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 60px;
    position: relative;
    width: 656px;
    z-index: 3;
  }
  .text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    min-width: 0;
    z-index: 4;
  }
  .resume-helper {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 76px;
    color: #3c3c40;
    font-family: Pretendard, var(--default-font-family);
    font-size: 64px;
    font-weight: 700;
    line-height: 76px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -1.28px;
    z-index: 5;
  }
  .time-saving {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 656px;
    height: 60px;
    color: #212529;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-overflow: initial;
    letter-spacing: -0.36px;
    z-index: 6;
    overflow: hidden;
  }
  .btn-free-trial {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 150px;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    background: #0554f2;
    border: none;
    z-index: 7;
    border-radius: 8px;
  }
  .get-started {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #ffffff;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 8;
  }
  .group-6 {
    flex-shrink: 0;
    position: relative;
    width: 10px;
    height: 10px;
    background: url(../assets/images/5757374d-10d2-4cb1-a1ff-16dc1c8997fd.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 824px;
    z-index: 10;
  }
  .asset {
    flex-shrink: 0;
    position: relative;
    width: 824px;
    height: 549px;
    background: #c4defd;
    z-index: 11;
    overflow: hidden;
  }
  .work-management {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 100px;
    position: relative;
    width: 1920px;
    margin: 0 0 0 0;
    padding: 140px 220px 140px 220px;
    z-index: 36;
  }
  .block-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 100px;
    position: relative;
    width: 1480px;
    z-index: 37;
  }
  .content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 60px;
    position: relative;
    width: 1480px;
    z-index: 38;
  }
  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 60px;
    position: relative;
    min-width: 0;
    z-index: 39;
  }
  .text-block-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    z-index: 40;
  }
  .element {
    flex-shrink: 0;
    position: absolute;
    width: 101%;
    height: 16.215px;
    top: 39.86%;
    left: 0.04%;
    background: url(../assets/images/632a31ec-4f0b-4015-b6a6-c2ad8d55afc9.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 41;
  }
  .company-recommendation-9 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 86px;
    color: #212529;
    font-family: Pretendard, var(--default-font-family);
    font-size: 72px;
    font-weight: 700;
    line-height: 85.922px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -1.44px;
    z-index: 42;
  }
  .chatbot-company {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 30px;
    color: #212529;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 43;
  }
  .btn-get-started {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 196px;
    padding: 20px 40px 20px 40px;
    cursor: pointer;
    background: #0554f2;
    border: none;
    z-index: 44;
    border-radius: 6px;
  }
  .get-started-a {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #ffffff;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 45;
  }
  .icon {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 14px;
    z-index: 46;
  }
  .group-b {
    flex-shrink: 0;
    position: relative;
    width: 14px;
    height: 14px;
    background: url(../assets/images/5220dff0-fa4f-48a4-aa08-d26f8d11ef4d.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 47;
  }
  .image-container-c {
    flex-shrink: 0;
    position: relative;
    width: 748px;
    height: 547px;
    background: #c4defd;
    z-index: 48;
    overflow: hidden;
  }
  .content-d {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 100px;
    position: relative;
    width: 1480px;
    z-index: 49;
  }
  .work-together-image {
    flex-shrink: 0;
    position: relative;
    width: 710px;
    height: 661px;
    z-index: 50;
  }
  .ellipse {
    position: absolute;
    width: 661px;
    height: 661px;
    top: 0;
    left: 35px;
    background: url(../assets/images/9fbb027c-20d9-424a-9606-5f8bc09e5509.png)
      no-repeat center;
    background-size: cover;
    z-index: 51;
    border-radius: 50%;
  }
  .group-e {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 23px;
    left: 140px;
    z-index: 67;
  }
  .ellipse-f {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    background: url(../assets/images/49d84ac3-d7b3-4397-bf3c-0c4d444286c4.png)
      no-repeat center;
    background-size: cover;
    z-index: 68;
    border-radius: 50%;
  }
  .group-10 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 71px;
    left: 564px;
    z-index: 63;
  }
  .ellipse-11 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    background: url(../assets/images/00dd98a9-6855-4e47-b65e-33d60c47c691.png)
      no-repeat center;
    background-size: cover;
    z-index: 64;
    border-radius: 50%;
  }
  .group-12 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 102px;
    left: 332px;
    background: url(../assets/images/57885904-bcfe-4086-9b2e-78b53553211c.png)
      no-repeat center;
    background-size: cover;
    z-index: 66;
  }
  .ellipse-13 {
    position: absolute;
    width: 387px;
    height: 387px;
    top: 137px;
    left: 172px;
    background: url(../assets/images/e4d52a8b-2396-49a6-966f-59824c85de55.png)
      no-repeat center;
    background-size: cover;
    z-index: 52;
    border-radius: 50%;
  }
  .group-14 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 281px;
    left: 316px;
    z-index: 69;
  }
  .logo-icon-15 {
    position: relative;
    width: 57px;
    height: 44px;
    margin: 28px 0 0 22px;
    z-index: 71;
    overflow: hidden;
  }
  .group-16 {
    position: absolute;
    width: 100%;
    height: 100.01%;
    top: 0;
    left: 0;
    z-index: 72;
  }
  .group-17 {
    position: absolute;
    width: 100%;
    height: 39.61%;
    top: 0;
    left: 0;
    z-index: 73;
  }
  .vector-18 {
    position: absolute;
    width: 32.76%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/90f5ab4e-11ee-4247-9f44-37594a53097b.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 74;
  }
  .vector-19 {
    position: absolute;
    width: 32.74%;
    height: 99.87%;
    top: 0;
    left: 67.26%;
    background: url(../assets/images/12d95a77-b249-4a38-ac96-51196f05e669.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 75;
  }
  .vector-1a {
    position: absolute;
    width: 100%;
    height: 91.22%;
    top: 8.78%;
    left: 0;
    background: url(../assets/images/c8bffc0e-c38f-4202-b9d3-101351533ea8.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 76;
  }
  .rectangle {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 70;
    border-radius: 10px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
  }
  .group-1b {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 296px;
    left: 0;
    z-index: 53;
  }
  .ellipse-1c {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/a4652597-bfc3-444e-97ee-00442c98a975.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 54;
    border-radius: 50%;
  }
  .group-1d {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 296px;
    left: 524px;
    z-index: 55;
  }
  .ellipse-1e {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    background: url(../assets/images/51fb793d-5f78-4008-b0cd-32dceddafff3.png)
      no-repeat center;
    background-size: cover;
    z-index: 56;
    border-radius: 50%;
  }
  .group-1f {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 296px;
    left: 137px;
    z-index: 59;
  }
  .ellipse-20 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    background: url(../assets/images/77d0bc83-17c7-40f3-b430-78ae2efc787e.png)
      no-repeat center;
    background-size: cover;
    z-index: 60;
    border-radius: 50%;
  }
  .group-21 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 401px;
    left: 640px;
    background: url(../assets/images/ebc3365d-8bc4-4bf0-bada-eaf2d410a79b.png)
      no-repeat center;
    background-size: cover;
    z-index: 65;
  }
  .group-22 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 489px;
    left: 331px;
    z-index: 57;
  }
  .ellipse-23 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    background: url(../assets/images/65f10fe1-8a52-4443-8ade-29cd99bb45d5.png)
      no-repeat center;
    background-size: cover;
    z-index: 58;
    border-radius: 50%;
  }
  .group-24 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 568px;
    left: 137px;
    z-index: 61;
  }
  .ellipse-25 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
    background: url(../assets/images/5f1d0c0f-2528-4c0c-9403-475cd8921854.png)
      no-repeat center;
    background-size: cover;
    z-index: 62;
    border-radius: 50%;
  }
  .headline-26 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 60px;
    position: relative;
    min-width: 0;
    z-index: 77;
  }
  .text-block-27 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    z-index: 78;
  }
  .element-28 {
    flex-shrink: 0;
    position: absolute;
    width: 75.26%;
    height: 37.515px;
    top: 32.46%;
    left: 0;
    background: url(../assets/images/e4996e00-e749-4c09-bed0-d24f8abdde93.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 79;
  }
  .company-search-29 {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 86px;
    color: #212529;
    font-family: Pretendard, var(--default-font-family);
    font-size: 72px;
    font-weight: 700;
    line-height: 85.922px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -1.44px;
    z-index: 80;
  }
  .chatbot-find-company {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 670px;
    height: 60px;
    color: #212529;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    letter-spacing: -0.36px;
    z-index: 81;
  }
  .btn-get-started-2a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 176px;
    padding: 20px 40px 20px 40px;
    cursor: pointer;
    background: #0554f2;
    border: none;
    z-index: 82;
    border-radius: 6px;
  }
  .get-start {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #ffffff;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 83;
  }
  .icon-2b {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 14px;
    z-index: 84;
  }
  .group-2c {
    flex-shrink: 0;
    position: relative;
    width: 14px;
    height: 14px;
    background: url(../assets/images/83164a53-ec2f-4419-b7cd-ceb053c8ff8a.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 85;
  }
  .customise-needs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 98px;
    position: relative;
    width: 1921px;
    margin: 0 0 0 0;
    padding: 140px 220px 140px 220px;
    z-index: 86;
  }
  .block-2d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 98px;
    position: relative;
    width: 1481px;
    z-index: 87;
  }
  .heading-2e {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 60px;
    position: relative;
    width: 697px;
    z-index: 88;
  }
  .text-block-2f {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 24px;
    position: relative;
    min-width: 0;
    z-index: 89;
  }
  .element-30 {
    flex-shrink: 0;
    position: absolute;
    width: 54.38%;
    height: 24.699px;
    top: 56.59%;
    left: -0.72%;
    background: url(../assets/images/1d24d141-fd40-46bc-9d6f-bcd06c1a7668.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 90;
  }
  .share-job-story {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 697px;
    height: 172px;
    color: #212529;
    font-family: Pretendard, var(--default-font-family);
    font-size: 72px;
    font-weight: 700;
    line-height: 85.922px;
    text-align: left;
    text-overflow: initial;
    letter-spacing: -1.44px;
    z-index: 91;
    overflow: hidden;
  }
  .job-community {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 30px;
    color: #212529;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 92;
  }
  .btn-get-started-31 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 171px;
    padding: 20px 40px 20px 40px;
    cursor: pointer;
    background: #0554f2;
    border: none;
    z-index: 93;
    border-radius: 6px;
  }
  .lets-go {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #ffffff;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 94;
  }
  .icon-32 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 14px;
    z-index: 95;
  }
  .group-33 {
    flex-shrink: 0;
    position: relative;
    width: 14px;
    height: 14px;
    background: url(../assets/images/63c0b3a1-5b85-4f1e-abac-ecf23359fbae.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 96;
  }
  .illustration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 4px;
    position: relative;
    width: 686px;
    z-index: 97;
  }
  .image {
    flex-shrink: 0;
    position: relative;
    width: 686px;
    height: 479px;
    background: #c4defd;
    z-index: 98;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 200px;
    position: relative;
    width: 1920px;
    height: 232px;
    margin: 242px 0 0 0;
    padding: 140px 220px 135px 218px;
    background: #3c3c40;
    z-index: 99;
  }
  .content-34 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 15px;
    position: relative;
    width: 1480px;
    z-index: 100;
  }
  .info {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 100px;
    position: relative;
    width: 1480px;
    z-index: 101;
  }
  .logo-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 15px;
    position: relative;
    min-width: 0;
    z-index: 102;
  }
  .logo-35 {
    flex-shrink: 0;
    position: relative;
    width: 147px;
    height: 34px;
    z-index: 103;
  }
  .pflow-36 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 34px;
    top: 0;
    left: 47px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 28px;
    font-weight: 700;
    line-height: 33.886px;
    text-align: left;
    white-space: nowrap;
    z-index: 110;
  }
  .logo-icon-37 {
    position: absolute;
    width: 37px;
    height: 29px;
    top: 2.5px;
    left: 0;
    z-index: 104;
    overflow: hidden;
  }
  .group-38 {
    position: absolute;
    width: 100%;
    height: 100.01%;
    top: 0;
    left: 0;
    z-index: 105;
  }
  .group-39 {
    position: relative;
    width: 37px;
    height: 11.487px;
    margin: 0 0 0 0;
    z-index: 106;
  }
  .vector-3a {
    position: absolute;
    width: 32.76%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/2807619d-ac74-4dd8-b499-60f2640232d8.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 107;
  }
  .vector-3b {
    position: absolute;
    width: 32.74%;
    height: 99.87%;
    top: 0;
    left: 67.26%;
    background: url(../assets/images/7b0c6776-71ae-4a55-b236-5a8314993df8.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 108;
  }
  .vector-3c {
    position: relative;
    width: 37px;
    height: 26.458px;
    margin: -8.942px 0 0 0;
    background: url(../assets/images/5ea01471-30b1-49ca-bc58-c0fb73d2ed5d.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 109;
  }
  .success-helper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 240px;
    height: 30px;
    color: #f7f7ee;
    font-family: Inter, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 111;
  }
  .info-3d {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 15px;
    position: relative;
    min-width: 0;
    z-index: 112;
  }
  .resume-writing-3e {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #ffffff;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 113;
  }
  .info-3f {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 0;
    z-index: 114;
  }
  .company-recommendation-40 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #ffffff;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 115;
  }
  .info-41 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 0;
    z-index: 116;
  }
  .company-search-42 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #ffffff;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 117;
  }
  .info-43 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 16px;
    position: relative;
    min-width: 0;
    z-index: 118;
  }
  .community-44 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 21px;
    color: #ffffff;
    font-family: Pretendard, var(--default-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.36px;
    z-index: 119;
  }
  .btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    width: 1480px;
    z-index: 120;
  }
  .terms-and-condition {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 60px;
    position: relative;
    width: 550px;
    z-index: 121;
  }
  .terms-privacy {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.32px;
    z-index: 122;
  }
  .security {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.32px;
    z-index: 123;
  }
  .status {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.32px;
    z-index: 124;
  }
  .aicc-pflow {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.32px;
    z-index: 125;
  }
  .social-icon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 32px;
    position: relative;
    width: 105px;
    z-index: 126;
  }
  .x-facebook {
    flex-shrink: 0;
    position: relative;
    width: 9px;
    height: 16.684px;
    z-index: 127;
  }
  .icon-45 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/1ace4434-370c-4103-a8ac-6344814490fe.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 128;
  }
  .twitter {
    flex-shrink: 0;
    position: relative;
    width: 17px;
    height: 13.813px;
    z-index: 129;
  }
  .group-46 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 130;
  }
  .vector-47 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/38faa974-0b00-480e-977f-5c2429f529af.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 131;
  }
  .linkedin {
    flex-shrink: 0;
    position: relative;
    width: 15px;
    height: 15px;
    z-index: 132;
  }
  .vector-48 {
    position: relative;
    width: 3.582px;
    height: 3.582px;
    margin: 0 0 0 0;
    background: url(../assets/images/33670c04-79ec-4fc2-ab82-12199d370843.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 135;
  }
  .flex-row-db {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 14.776px;
    height: 10.299px;
    margin: 1.119px 0 0 0.22px;
    z-index: 134;
  }
  .vector-49 {
    flex-shrink: 0;
    position: relative;
    width: 3.134px;
    height: 9.851px;
    background: url(../assets/images/e027fa55-f1a3-4572-80ae-8a418f3b0ae8.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 134;
  }
  .vector-4a {
    flex-shrink: 0;
    position: relative;
    width: 9.627px;
    height: 10.299px;
    background: url(../assets/images/e871543e-ba1b-4e66-9902-88b7751e5920.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 133;
  }
  .line {
    flex-shrink: 0;
    position: absolute;
    width: 1480px;
    height: 0px;
    top: 249.07px;
    left: 0;
    background: url(../assets/images/dc8ca8a4-9fa5-4d88-95d8-548b3fea4764.png)
      no-repeat center;
    background-size: cover;
    z-index: 136;
  }
  